{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<div>
    <div class="form-group">
        {{ form_label(form.email, 'form.email'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.username, 'form.username'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.username) }}
    </div>
</div>

<br>

<div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ 'profile.edit.submit'|trans }}"/>
</div>
{{ form_end(form) }}