{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="well">
    {{ form_errors(form) }}

    <div class="products-list" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}">
    </div>

    {% for product in products %}
        <li>
            {{ product }}
        </li>
    {% endfor %}
</div>
{{ form_end(form) }}


{# On charge la bibliothèque jQuery. #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    var $collectionHolder;

    jQuery(document).ready(function () {
        // Get the ul that holds the collection of products
        $collectionHolder = $('div.products-list');

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        for (var i = 0; i < {{ products|length }}; i++) {
            // add the "add a tag" anchor and li to the tags ul
            var productCommandForm = addProductCommandForm($collectionHolder);
            $collectionHolder.append(productCommandForm);
            $collectionHolder.append('<br>');
        }
    });

    function addProductCommandForm($collectionHolder) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.attr('data-prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm
            .replace(/__name__label__/g, 'Quant' + index)
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            .replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        return newForm;
    }
</script>