{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" class="form-signin" method="POST">
    <div class="form-group" id="fos_user_registration_form">
            {{ form_widget(form.email, { 'attr': {'class': 'input-group', 'placeholder': 'form.email'|trans } }) }}
            {{ form_errors(form.email) }}

        {{ form_widget(form.username, { 'attr': {'class': 'input-group', 'placeholder': 'form.username'|trans } }) }}
        {{ form_errors(form.username) }}

        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input-group', 'placeholder': 'form.password'|trans } }) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input-group', 'placeholder': 'form.password_confirmation'|trans } }) }}
        {{ form_errors(form.plainPassword.second) }}

        {{ form_rest(form) }}
    </div>
    <div>
        <button type="submit"
                class="btn btn-lg btn-primary btn-block"
                id="_submit"
                name="_submit">
            <i class="glyphicon glyphicon-log-in"></i> {{ 'registration.submit'|trans }}
        </button>
    </div>
</form>