{% trans_default_domain 'FOSUserBundle' %}
{% extends "PGPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'nav.our_products'|trans }} - {{ parent() }}
{% endblock %}

{% block pgplatform_body %}

    <h1>{{ 'nav.our_products'|trans }}</h1>

    {% if products is empty %}
        Nous n'avons aucun produit pour le moment.
    {% else %}
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.name }}</h2>

                    {% if product.description is not null %}
                        <div class="well">
                            {{ product.description }}
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_GERANT') %}
                        <a href="{{ path('pg_platform_products_edit', {'id': product.id}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'form.edit'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('pg_platform_products_delete', {'id': product.id}) }}"
                               class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                                {{ 'form.delete'|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}