{% trans_default_domain 'FOSUserBundle' %}
{% extends "PGUserBundle::base.html.twig" %}

{% block pguser_body %}

    <p>
        <a href="{{ path('pg_user_list') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour
        </a>
    </p>

    <h2>Supprimer un utilisateur</h2>

    <p>
        Êtes-vous certain de vouloir supprimer l'utilisateur "{{ user.username }} ({{ user.email }} )" ?
    </p>

    <form action="{{ path('pg_user_delete', {'id': user.id}) }}" method="post">
        <input type="submit" value="{{ 'form.delete'|trans }}" class="btn btn-danger"/>
        {{ form_rest(form) }}
    </form>

    <a href="{{ path('pg_user_list_with_end_slash') }}" class="btn btn-default">
        {{ 'form.cancel'|trans }}
    </a>

{% endblock %}