{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<div class="well">
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.username, 'form.username'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email, 'form.email'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first, 'form.new_password'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second, 'form.new_password_confirmation'|trans, {'label_attr': {'class': ' control-label'}}) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <div class="form-group">
        {{ form_label(form.roles, 'form.roles'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.roles) }}
    </div>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'profile.edit.submit'|trans}) }}

    {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-primary'}, 'label': 'form.cancel'|trans}) }}

    {{ form_rest(form) }}
</div>
{{ form_end(form) }}
